.contact-user-card {
  display: flex;
  border: 2px solid black;
  display: flex;
  align-items: flex-start;
  margin: 20px auto;
  width: 500px;
  height: 71.1%;
}

.contact-user-card p {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-user-name {
  font-weight: bold;
  font-size: 12pt;
  padding: 15px;
  padding-bottom: 0px;
}

.contact-title {
  font-size: 10pt;
  margin-top: 0px;
}

.contact-description {
  font-size: 8pt;
  margin-bottom: 10px;
}
