.user-profile {
  grid-area: 2 / 1 / 3 / 3;
  border: 2px solid black;
  display: flex;
  align-items: flex-start;
  padding: 2px;
  margin: 30px 40px 0px 20px;
  padding-top: 0px;
  height: 60%;
}


.user-profile img {
  margin-right: 10px;
  align-items: flex-start;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-profile p {
  margin: 5px;
  align-items: center;
}

p.user {
  font-weight: bold;
  font-size: 12pt;
  margin-top: 30px;
}

p.title {
  font-size: 10pt;

}
  
p.description {
  font-size: 8pt;
  margin-bottom: 10px;
}